
.title {
  display: inline-block;
  border-bottom: 1px solid rgb(42, 40, 48);
  margin-bottom: 10px;
  font-size: 20px;
}

.import {
  color:rgb(42, 40, 48);
  font-size: 24px;
}
.input-img__wrapper{
    width: 100%;
    height: auto;
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .3)!important;
    overflow: hidden;
    position: relative;
}

.image-container-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}